[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
slint = { file = "..", editable = true }
sphinx-autodoc2 = "*"
myst-parser = "*"
furo = "*"
sphinx-copybutton = "*"

[dev-packages]

[requires]
python_version = "3"
